nav ul {
    /* removes the bullet points */
    list-style-type: none;
    /* removes the default padding and margin */
    margin: 0;
    padding: 0;
    /* hides overflow text */
    overflow: hidden;
    /* sets the background color */
    background-color: #333;
    /* makes the display flex, allowing me to change the position of the items in the list */
    display: flex;
    justify-content: space-between;
  }
  
nav li {
    float: left;
    width: 100%;
    border-right: 2px solid gray;
    margin: 5px;
  }
  
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  /* Change the link color to #111 (black) on hover */
nav ul li a:hover {
    background-color: #111;
}

.hero {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex-container article {
  justify-content: space-evenly;
  flex-grow: 1;
}

.flex-container article h2 {
  border-bottom: 2px solid black;
}

.projects {
  border-right: 2px solid black;
}

.projects h2 {
  border-bottom: 2px solid black;
}

.flex-container .projects ul li {
  border-bottom: 2px solid black;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: -40px;
  text-align: left;
  list-style-type: none;
  text-align: center;
}

.flex-container .projects ul li:last-child {
  border-bottom: 0px;
}

.work-experience {
  border-right: 2px solid black;
}

h2 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex-reviews {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex-reviews blockquote {
  border: 2px solid black;
  border-radius: 10px;
  margin: 1rem 0;
  padding: 1rem;
  flex-wrap: nowrap;
  max-width: 20%;
  font-size: x-large;
  text-align: center;
}

.flex-reviews blockquote p {
  border-bottom: 1px solid gray;
  margin: 10px;
}

.flex-reviews blockquote footer {
  margin:10px;
  text-align: center;
}

.footer {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-top: 1px gray solid;
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 50px;
}

section ul {
  list-style-type: none;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}
