nav ul {
    /* removes the bullet points */
    list-style-type: none;
    /* removes the default padding and margin */
    margin: 0;
    padding: 0;
    /* hides overflow text */
    overflow: hidden;
    /* sets the background color */
    background-color: #333;
    /* makes the display flex, allowing me to change the position of the items in the list */
    display: flex;
    justify-content: space-between;
  }
  
nav li {
    float: left;
    width: 100%;
  }
  
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  /* Change the link color to #111 (black) on hover */
nav ul li a:hover {
    background-color: #111;
}

.hero {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid black;
}

.flex-container article {
  border: 2px solid red;
  justify-content: space-evenly;
  flex-grow: 1;
}

.flex-container .projects {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex-container .projects ul li {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-left: -40px;
  text-align: left;
  list-style-type: none;
  text-align: center;
}